# viSyl Project Configuration
project:
  name: "Lidar 1550"
  sanitized_name: "lidar-1550"
  description: "This is lidar project"
  version: "1.0.0"
  domain: "automotive"
  target_market: "OEMs"
  owner: "Balaji"
  uuid: "96136e31"
  created_at: "2025-06-25T02:19:19.099Z"
  visyl_version: "1.0.0"

structure:
  product_line: "lidar-1550.ple"
  features:
    - name: "driver-assistance"
      path: "features/driver-assistance"
      features:
        - "object-detection"
        - "distance-measurement"
        - "velocity-estimation"
        - "tracking"
    - name: "connectivity"
      path: "features/connectivity"
      features:
        - "vehicle-interface"
        - "data-transmission"
        - "wireless-connectivity"
    - name: "safety"
      path: "features/safety"
      features:
        - "fault-detection"
        - "redundancy-management"
        - "diagnostics"
